Product Positioning Generator.json
{
  "name": "Product Positioning Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Product Enhancement Evaluation",
        "formDescription": "Please share information about your product launch or feature release. This agent will help you understand how it benefits your audience compared to competing solutions.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Are you launching a new product or feature?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Launching a new product"
                  },
                  {
                    "option": "Launching a new feature"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        2528,
        1664
      ],
      "id": "d9abcc42-1ce1-47e5-a9bd-4ec776701787",
      "name": "Product Enhancement Evaluation",
      "webhookId": "c06c6303-9ebf-4c5b-94ca-dae8a625ac19"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33b3b28a-8946-4bbd-be93-395992a2e667",
              "leftValue": "={{ $json[\"Are you launching a new product or feature?\"] === \"Launching a new product\" }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2720,
        1664
      ],
      "id": "ac3244f1-cd26-417d-988c-f1f15bd98c6c",
      "name": "Product or Feature Release?"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is the name of the product?",
              "placeholder": "Name the product"
            },
            {
              "fieldLabel": "What is the product category?",
              "placeholder": "Name the product category"
            },
            {
              "fieldLabel": "What problem does the product solve?",
              "fieldType": "textarea",
              "placeholder": "Describe the problem"
            },
            {
              "fieldLabel": "How does the product work?",
              "fieldType": "textarea",
              "placeholder": "Describe how the product works"
            },
            {
              "fieldLabel": "What are the primary features?",
              "fieldType": "textarea",
              "placeholder": "List and describe the primary features"
            },
            {
              "fieldLabel": "What results does the product deliver?",
              "fieldType": "textarea",
              "placeholder": "Describe the anticipated results of successful usage"
            },
            {
              "fieldLabel": "What is the ideal customer profile?",
              "fieldType": "textarea",
              "placeholder": "Define the profile(s) of customer accounts and list their distinguishing attributes"
            },
            {
              "fieldLabel": "Who is the target persona?",
              "fieldType": "textarea",
              "placeholder": "Define the buyer or user persona and list their distinguishing attributes"
            },
            {
              "fieldLabel": "Which competitors offer alternative products?",
              "fieldType": "textarea",
              "placeholder": "List the names of alternative products by competing vendors"
            },
            {
              "fieldLabel": "What are the product's competitive differentiators?",
              "fieldType": "textarea",
              "placeholder": "List competitive differentiators and supporting evidence"
            },
            {
              "fieldLabel": "Upload supporting documents about the product (PRD, RFC, etc.)",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2928,
        1568
      ],
      "id": "8c32744d-df5c-4c21-90d2-6c303bd2c83b",
      "name": "Product Launch Details",
      "webhookId": "17b49f4d-4f4a-48a3-b91f-4b04448632c5"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is the feature called?",
              "placeholder": "Name the feature"
            },
            {
              "fieldLabel": "What product is it for?",
              "placeholder": "Name the product"
            },
            {
              "fieldLabel": "Who would be the user persona?",
              "placeholder": "Enter the title of the user persona"
            },
            {
              "fieldLabel": "What problem does the feature solve?",
              "fieldType": "textarea",
              "placeholder": "Describe the problem"
            },
            {
              "fieldLabel": "How does the feature work?",
              "fieldType": "textarea",
              "placeholder": "Describe how the feature works"
            },
            {
              "fieldLabel": "What are the benefits of the feature?",
              "fieldType": "textarea",
              "placeholder": "Describe the anticipated results from successful usage"
            },
            {
              "fieldLabel": "What products and vendors offer a comparable feature?",
              "fieldType": "textarea",
              "placeholder": "List products by vendors with comparable features"
            },
            {
              "fieldLabel": "How is this feature differentiated from its alternatives?",
              "fieldType": "textarea"
            },
            {
              "fieldLabel": "Upload supporting documents about the feature (PRD, RFC, etc.)",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.3,
      "position": [
        2928,
        1744
      ],
      "id": "79175334-38a2-429e-9cbc-a287aa186292",
      "name": "Feature Release Details",
      "webhookId": "7199f5e1-6a78-4377-af3b-468407479fde"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b07ca8f-0769-4370-b14c-06bdc90c5f33",
              "leftValue": "={{ $('Product Launch Details').item.binary['Upload_supporting_documents_about_the_product__PRD__RFC__etc__'] }}",
              "rightValue": "[null]",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3136,
        1328
      ],
      "id": "36949185-589c-43f3-a195-1efa7fd22f52",
      "name": "Uploaded PRD/RFC"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "015ad26a-98ce-4677-ac80-a35e20fe41f7",
              "leftValue": "={{ $json['What is the name of the product?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "618bcdc9-8a76-45ca-88ae-b59da58e649f",
              "leftValue": "={{ $json['What is the product category?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e202367d-f079-4b49-8bfc-644ecbc9b449",
              "leftValue": "={{ $json['What problem does the product solve?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ab39a0c5-10b4-4223-96ee-745e42dd947d",
              "leftValue": "={{ $json['How does the product work?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7563e866-812f-483c-a2b3-5a0ec77c2c3c",
              "leftValue": "={{ $json['What are the primary features?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ecce3872-f2a7-446d-a70a-5249ae199936",
              "leftValue": "={{ $json['What results does the product deliver?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "42d1f972-b33c-4910-aa2f-aa4e9a873e92",
              "leftValue": "={{ $json['What is the ideal customer profile?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2b86aecc-96f6-45a7-b0e1-cb50e6006f3b",
              "leftValue": "={{ $json['Who is the target persona?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "498a00a4-fbea-480e-bae5-6da55b510b1f",
              "leftValue": "={{ $json['Which competitors offer alternative products?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "5b2b024c-0dd0-45ff-b74e-a21b87b387a8",
              "leftValue": "={{ $json['What are the product\\'s competitive differentiators?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3312,
        1408
      ],
      "id": "2c1a21bf-ff13-466b-89f5-1c1acfcca747",
      "name": "Only Form Field"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $('Product Launch Details').item.binary['Upload_supporting_documents_about_the_product__PRD__RFC__etc__'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3312,
        1232
      ],
      "id": "00000aa9-d3c2-4c3d-990f-7e01ee192149",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "text": "={{ $('Extract from File').item.json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "product_name",
              "description": "The name of the product"
            },
            {
              "name": "product_category",
              "description": "The name of the product category"
            },
            {
              "name": "product_function",
              "description": "How the product functions"
            },
            {
              "name": "anticipated_results",
              "description": "The anticipated results delivered by the product"
            },
            {
              "name": "product_features",
              "description": "The primary features of the product"
            },
            {
              "name": "icp",
              "description": "Ideal customer profile, common attributes of current or prospective customers"
            },
            {
              "name": "persona",
              "description": "Common attributes of current or prospective buyers and users"
            },
            {
              "name": "competitors",
              "description": "Names of alternative products by competing vendors"
            },
            {
              "name": "differentiators",
              "description": "Competitive advantages that differentiate the product from alternatives"
            },
            {
              "name": "problem_statement",
              "description": "State the problem that the product solves"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert in analyzing technical and business documents, such as Requests for Comments (RFCs) and Product Requirements Documents (PRDs), for new products or features.\n\nYour task is to extract structured information that will help define the product's positioning and unique sales proposition.\n\nExtract the following details from the provided text, using only information that is explicitly stated or clearly implied:\n- Product name — the name of the product\n- Product category — the name of the product category\n- Problem statement — the problem the product solves\n- Product function — how the product functions\n- Product features — the primary features of the product\n- Anticipated results — the results the product delivers\n- Ideal Customer Profile (ICP) — common attributes of current or prospective customers\n- Persona — common attributes of current or prospective buyers and users\n- Competitors — names of alternative products by competing vendors\n- Differentiators — competitive advantages that differentiate the product from alternatives\n\nIf any attribute is not mentioned or cannot be confidently inferred, omit it from your response. Focus on accuracy and relevance; do not include any speculative information."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        3472,
        1168
      ],
      "id": "0356b848-237e-4fa4-9b93-67cb9f8f66c7",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are an experienced product marketing manager who excels at translating the features and benefits of enterprise software products into customer value.\n\n# OBJECTIVE\nUse the following instructions and product details to craft marketing copy that engages audiences, generates leads, and converts customers.\n\n# FORMATTING GUIDELINES\n- **Product Tagline**: Generate a unique and memorable phrase that captures the essence of the product and its primary benefit. \n- **Positioning Statement**: Draft 2-3 sentences that clearly define what the product is, what it does, who it's for, the impact it delivers, and its competitive advantages. \n- **Unique Value Proposition**: List 4-6 substantiating claims as bullet points. Explain how the product delivers value for its users and how it's superior to its alternatives. Highlight any specific differentiators and benefits for the ideal customer profile or persona.\n\n# REFERENCE THE INPUTS FROM THESE DATA FIELDS\n- **Product name:** {{ $json.output.product_name }} / {{ $('Product Launch Details').item.json['What is the name of the product?'] }}\n- **Product category:** {{ $json.output.product_category }} / {{ $('Product Launch Details').item.json['What is the product category?'] }}\n- **Problem statement:** {{ $json.output.problem_statement }} / {{ $('Product Launch Details').item.json['What problem does the product solve?'] }}\n- **Product function:** {{ $json.output.product_function }} / {{ $('Product Launch Details').item.json['How does the product work?'] }}\n- **Product features:** {{ $json.output.product_features }} / {{ $('Product Launch Details').item.json['What are the primary features?'] }}\n- **Anticipated results:** {{ $json.output.anticipated_results }} / {{ $('Product Launch Details').item.json['What results does the product deliver?'] }}\n- **Ideal Customer Profile (ICP):** {{ $json.output.icp }} / {{ $('Product Launch Details').item.json['What is the ideal customer profile?'] }}\n- **Target Persona:** {{ $json.output.persona }} / {{ $('Product Launch Details').item.json['Who is the target persona?'] }}\n- **Competitors:** {{ $json.output.competitors }} / {{ $('Product Launch Details').item.json['Which competitors offer alternative products?'] }}\n- **Differentiators:** {{ $json.output.differentiators }} / {{ $('Product Launch Details').item.json['What are the product\\'s competitive differentiators?'] }}\n\n# FOLLOW THESE CONTENT REQUIREMENTS STRICTLY\n- When extracting information, prioritize values from the “Information Extractor” node.\n  - If this data is missing, use the “Product Launch Details” node.\n  - Retain supplemental details from either node, but omit any redundant information.\n- Emphasize anticipated results and competitive differentiators.\n- Use clear, authoritative language with accuracy and technical precision that doesn't oversimplify or overcomplicate concepts.\n- The messaging must be original, tailored to its audience, and suitable for use in marketing material.\n- Never begin any statements with a prepositional phrase or a sentence fragment.\n- Never refer to the product as \"it\". Use the product name, or a description of it, like a label for the category.\n- Never refer to the users as \"users\", but instead, as ['persona'].\n\n# AVOID USING THE FOLLOWING WORDS\n“AI-powered”, “AI-enabled”, “End-to-end”, “All-in-one”, “Customer-centric”, “Seamless”, “Best-in-class”, \"Groundbreaking\", “Game-changing”, “Cutting-edge”, “Future-proof”, “Unlock”, “Unlocking”, “Unleash”, “Unleashing”, “Reveal”, “Revealing”, “Empower”, “Empowering”, “Disrupt”, “Disruptive”, “Revolutionize”, “Revolutionary”, “Innovative”, “Innovation”, “Synergy”, “Synergize”, “Holistic”, “Purpose-built”, “Purpose-driven”, “Supercharge”, “White-glove”, “Transformational”, “Transformative”, “Robust”, “Turnkey”, \"Offer\", \"Offers\", \"Offering\", \"Provide\", \"Provides\", \"Providing\", \"Provider\"",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3872,
        1376
      ],
      "id": "f0a07fbe-0700-4e15-a25d-b199c52bc6ec",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"tagline\": {\n      \"type\": \"string\",\n      \"description\": \"Generate a unique and memorable phrase that captures the essence of the product and its primary benefit. \"\n    },\n    \"positioning_statement\": {\n      \"type\": \"string\",\n      \"description\": \"A 2-3 sentence statement that clearly defines what the product is, what it does, who it's for, the impact it delivers, and its competitive advantages.\"\n    },\n    \"unique_value_proposition\": {\n      \"type\": \"string\",\n      \"description\": \"List 4-6 substantiating claims as bullet points explaining the function of key features, how the product delivers value, and how it's superior to alternatives.\"\n    }\n  },\n  \"required\": [\"tagline\", \"positioning_statement\", \"unique_value_proposition\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        4016,
        1536
      ],
      "id": "adcf142e-1381-418f-948b-4f03aff5d6a0",
      "name": "Structured Output"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3872,
        1520
      ],
      "id": "d9460e6b-1b68-4412-9e33-63955d3af9ef",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3472,
        1296
      ],
      "id": "68894e49-4960-4a65-a67c-fe16be9c29c3",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3520,
        1504
      ],
      "id": "6d6c3df4-31e9-4dba-8eee-d09a99a797f6",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "=formatted_text",
        "binaryPropertyName": "product_positioning_statements",
        "options": {
          "fileName": "product_positioning_statements.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4272,
        1376
      ],
      "id": "236dc921-bb0d-4c7c-964d-98cefeeb2bec",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "Product positioning statements",
        "message": "=Please review the attachment with positioning and messaging for your enterprise software product.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "product_positioning_statements"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4416,
        1376
      ],
      "id": "3b65adf4-af2f-40d1-b111-1d31a0f82958",
      "name": "Review copy",
      "webhookId": "1a234cef-2467-445c-9ae0-a8c89f0bc25a",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the structured output from the Basic LLM Chain node\nconst output = $input.first().json.output;\n\n// Extract the three fields\nconst tagline = output.tagline || '';\nconst positioningStatement = output.positioning_statement || '';\nconst uniqueValueProposition = output.unique_value_proposition || '';\n\n// Combine into formatted markdown text\nlet formattedText = '';\n\nif (tagline) {\n  formattedText += '# Product Tagline\\n\\n' + tagline + '\\n\\n';\n}\n\nif (positioningStatement) {\n  formattedText += '# Positioning Statement\\n\\n' + positioningStatement + '\\n\\n';\n}\n\nif (uniqueValueProposition) {\n  formattedText += '# Unique Value Proposition\\n\\n' + uniqueValueProposition + '\\n\\n';\n}\n\n// Return formatted text\nreturn { formatted_text: formattedText };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4128,
        1376
      ],
      "id": "59794d8f-2c1b-4ddf-b01f-a049e62473dd",
      "name": "Format text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b07ca8f-0769-4370-b14c-06bdc90c5f33",
              "leftValue": "={{ $('Feature Release Details').item.binary['Upload_supporting_documents_about_the_feature__PRD__RFC__etc__'] }}",
              "rightValue": "[null]",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3152,
        1840
      ],
      "id": "40e5c57b-42f3-415f-92d3-e6db916362ef",
      "name": "Uploaded PRD/RFC1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "618bcdc9-8a76-45ca-88ae-b59da58e649f",
              "leftValue": "={{ $('Feature Release Details').item.json['What is the feature called?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "e202367d-f079-4b49-8bfc-644ecbc9b449",
              "leftValue": "={{ $('Feature Release Details').item.json['What product is it for?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "58b21ed8-5339-4cec-87c8-f9b8861c63ea",
              "leftValue": "={{ $('Feature Release Details').item.json['Who would be the user persona?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "0f1a177b-9a2b-44ee-ab94-fe8c0e463ac4",
              "leftValue": "={{ $('Feature Release Details').item.json['What problem does the feature solve?']}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "ab39a0c5-10b4-4223-96ee-745e42dd947d",
              "leftValue": "={{ $('Feature Release Details').item.json['How does the feature work?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "7563e866-812f-483c-a2b3-5a0ec77c2c3c",
              "leftValue": "={{ $('Feature Release Details').item.json['What are the benefits of the feature?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "42d1f972-b33c-4910-aa2f-aa4e9a873e92",
              "leftValue": "={{ $('Feature Release Details').item.json['What products and vendors offer a comparable feature?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "2b86aecc-96f6-45a7-b0e1-cb50e6006f3b",
              "leftValue": "={{ $('Feature Release Details').item.json['How is this feature differentiated from its alternatives?'] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3328,
        1920
      ],
      "id": "91830310-d44e-46d1-910a-2a2776956c83",
      "name": "Only Form Field1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $('Feature Release Details').item.binary['Upload_supporting_documents_about_the_feature__PRD__RFC__etc__'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3328,
        1744
      ],
      "id": "4c6ef959-8e4c-4974-aab5-0ac3b22e3ab1",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "text": "={{ $('Extract from File1').item.json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "product_name",
              "description": "The name of the product"
            },
            {
              "name": "feature_name",
              "description": "The name of the feature"
            },
            {
              "name": "feature_functionality",
              "description": "How the feature functions"
            },
            {
              "name": "benefits",
              "description": "The benefits delivered by the feature"
            },
            {
              "name": "comparable_features",
              "description": "Comparable features offered by competing products"
            },
            {
              "name": "differentiators",
              "description": "How the feature differentiates the product from competitors"
            },
            {
              "name": "problem_statement",
              "description": "State the problem that the product solves"
            },
            {
              "name": "persona",
              "description": "Common attributes of current or prospective users"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an expert in analyzing technical and business documents, such as Requests for Comments (RFCs) and Product Requirements Documents (PRDs), for new products or features.\n\nYour task is to extract structured information that will help define the feature's positioning and unique sales proposition.\n\nExtract the following details from the provided text, using only information that is explicitly stated or clearly implied:\n- Product name — the name of the product the feature belongs to\n- Feature name — the name of the feature\n- Problem statement — the problem the feature solves\n- Feature functionality — how the feature functions\n- Benefits — the benefits the feature delivers\n- Comparable features — comparable features offered by competing products\n- Differentiators — how the feature differentiates the product from competitors\n- Persona — common attributes of current or prospective users\n\nIf any attribute is not mentioned or cannot be confidently inferred, omit it from your response. Focus on accuracy and relevance; do not include any speculative information."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        3488,
        1680
      ],
      "id": "f286dba5-ab79-4bf5-9585-bf8a67eb417b",
      "name": "Information Extractor1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# ROLE\nYou are a product management expert who specializes in drafting feature release notes for enterprise software products.\n\n# OBJECTIVE\nUse the given product information to draft a 2-3 sentence feature release note, helping users understand the benefits of new product enhancements and how it can be utilized. Encourage recurring customers and engaged prospects to adopt new product features and continue to utilize them successfully.\n\n# INCORPORATE THE FOLLOWING INPUTS FROM THESE DATA FIELDS\n- **Feature name:** {{ $json.output.feature_name }} / {{ $('Feature Release Details').item.json['What is the feature called?'] }}\n- **Product name:** {{ $json.output.product_name }} / {{ $('Feature Release Details').item.json['What product is it for?'] }}\n- **Persona:** {{  $json.output.persona }} / {{ $('Feature Release Details').item.json['Who would be the user persona?'] }}\n- **Problem statement:** {{ $json.output.problem_statement }} / {{ $('Feature Release Details').item.json['What problem does the feature solve?'] }}\n- **Feature functionality:** {{ $json.output.feature_functionality }} / {{ $('Feature Release Details').item.json['How does the feature work?'] }}\n- **Feature benefits:** {{ $json.output.benefits }} / {{ $('Feature Release Details').item.json['What are the benefits of the feature?'] }}\n- **Competition:** {{ $json.output.comparable_features }} / {{ $('Feature Release Details').item.json['What products and vendors offer a comparable feature?'] }}\n- **Differentiation:** {{ $json.output.differentiators }} / {{ $('Feature Release Details').item.json['How is this feature differentiated from its alternatives?'] }}\n\n# FOLLOW THESE CONTENT REQUIREMENTS STRICTLY\n- When extracting information, prioritize values from the “Information Extractor” node.\n  - If this data is missing, use the “Feature Release Details” node.\n  - Retain supplemental details from either node, but omit any redundant information.\n- Emphasize anticipated results and competitive differentiators.\n- Use clear, authoritative language with accuracy and technical precision that doesn't oversimplify or overcomplicate concepts.\n- The messaging must be original, tailored to its audience, and suitable for use in marketing material.\n- Never begin any statements with a prepositional phrase or a sentence fragment.\n- Never refer to the feature as \"it\". Use the proper name and describe it as necessary.\n- Never refer to the users as \"users\", but instead by their persona.\n\n# AVOID USING THE FOLLOWING WORDS\n“AI-powered”, “AI-enabled”, “End-to-end”, “All-in-one”, “Customer-centric”, “Seamless”, “Best-in-class”, \"Groundbreaking\", “Game-changing”, “Cutting-edge”, “Future-proof”, “Unlock”, “Unlocking”, “Unleash”, “Unleashing”, “Reveal”, “Revealing”, “Empower”, “Empowering”, “Disrupt”, “Disruptive”, “Revolutionize”, “Revolutionary”, “Innovative”, “Innovation”, “Synergy”, “Synergize”, “Holistic”, “Purpose-built”, “Purpose-driven”, “Supercharge”, “White-glove”, “Transformational”, “Transformative”, “Robust”, “Turnkey”, \"Offer\", \"Offers\", \"Offering\", \"Provide\", \"Provides\", \"Providing\", \"Provider\"",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        3888,
        1888
      ],
      "id": "e9decd1b-1c97-40d1-806c-5faaa5b50c5e",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3888,
        2032
      ],
      "id": "1c86f86f-c836-430d-9ac0-a11a8c247ed1",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-pro-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3488,
        1808
      ],
      "id": "0954a41e-ccf3-4c1a-9dfe-8496ac9cc18b",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3536,
        2016
      ],
      "id": "5838fee3-3672-4280-bc06-f0d8826ba6bb",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "binaryPropertyName": "feature_release_note",
        "options": {
          "fileName": "feature_release_note.md"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        4176,
        1888
      ],
      "id": "54b0f9ca-c42b-4207-938a-da2f4db4e528",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "sendTo": "your-email@example.com",
        "subject": "Feature release note",
        "message": "=Please review the attachment with positioning and messaging for your enterprise software product.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "feature_release_note"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        4320,
        1888
      ],
      "id": "4bdc8066-03ad-4288-ab3e-6caa29c7b2dc",
      "name": "Review copy1",
      "webhookId": "ac52835a-6998-4592-ae52-5e6eb22507cd",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_GMAIL_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Product Enhancement Evaluation": {
      "main": [
        [
          {
            "node": "Product or Feature Release?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product or Feature Release?": {
      "main": [
        [
          {
            "node": "Product Launch Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Feature Release Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Product Launch Details": {
      "main": [
        [
          {
            "node": "Uploaded PRD/RFC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploaded PRD/RFC": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Only Form Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Form Field": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Format text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Review copy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format text": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Uploaded PRD/RFC1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Only Form Field1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Form Field1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Information Extractor1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Review copy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Feature Release Details": {
      "main": [
        [
          {
            "node": "Uploaded PRD/RFC1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "nodeGroups": [],
  "tags": []
}
